@model Let_s_Meet.Models.FriendsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>FriendsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedBy.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedTo.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FriendsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
