@model IEnumerable<Let_s_Meet.Models.FriendsModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestedTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedBy.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedTo.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FriendsID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FriendsID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FriendsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
